name: Deploy to Hugging Face Space

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Push to Hugging Face Space
        uses: backendcloud/hugging-push@v0.2.3
        with:
          hf_token: ${{ secrets.hf_token }}
          huggingface_repo: ${{ secrets.hf_space }}
          repo_type: 'space'
          space_sdk: 'gradio'