name: Sync to Hugging Face Hub

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          # This is the only "LFS" line you need in the YAML
          lfs: true 

      - name: Push to Hugging Face
        env:
          HF_TOKEN: ${{ secrets.hf_token }}
          HF_SPACE: ${{ secrets.hf_space }}
          HF_NAME: ${{ secrets.hf_name }}
        run: |
          git remote add hf https://$HF_NAME:$HF_TOKEN@huggingface.co/spaces/$HF_SPACE
          git push --force hf main